<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mayo.bluetoothle"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.bluetooth_le"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:node="merge"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActMain"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".ActDisplay"
            android:label="@string/app_name">
        </activity>

        <service
            android:name=".BlueService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".ServiceBlue"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".ActBeacon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
